#menu {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 2rem 4rem;
}

/* #menu::before {
	position: absolute;
	content: '';
	height: 40vh;
	width: 100vw;
	top: 50%;
	transform: translateY(-50%);
	background-color: #ffc917;
	z-index: -9999;
} */

.title {
	margin-bottom: 1.5rem;
}

.title img,
.title h1 {
	vertical-align: middle;
}

.title img {
	transform: scale(1.5);
}

.title h1 {
	display: inline-block;
	font-size: 3rem;
	font-style: italic;
	margin: 0;
	margin-left: 1.5rem;
	letter-spacing: -.02em;
}

label {
	font-size: .7rem;
	min-width: 6rem;
	/* padding: .75rem 1.75rem; */
	border-radius: .25rem;
	/* vertical-align: top; */
	background-color: #fff;
	padding-top: 6px;
	/* padding-top: 1rem; */
	overflow: hidden;
}

label:not(:last-child) {
	margin-right: 1rem;
}

label span {
	/* padding-left: 1.75rem; */
	padding-left: 1rem;
}

select {
	display: flex;
	font-size: 1rem;
	color: rgba(0, 0, 0, .5);
	border: 0;
	height: 2rem;
	/* padding: .75rem 1.75rem; */
	padding: 0 1rem;
	padding-bottom: 3px;
	box-sizing: content-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	box-shadow: none;
}

select:focus,
select:active {
	border-color: none;
	box-shadow: none;
	outline: none;
}

/* select#hours,
select#minutes {
	text-align: center;
} */

#btn {
	/* display: inline-block; */
	position: relative;
	padding: .625rem 1.125rem;
	/* vertical-align: top; */
	min-width: 7.5rem;
	font-weight: 400;
	white-space: nowrap;
	background-color: #0063d3;
	color: #fff;
	box-shadow: inset 0 -0.125rem 0 #004ba0;
	text-align: center;
	line-height: 1.5625rem;
	font-size: 1rem;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	transition: box-shadow .15s
}

#btn:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	box-shadow: inset 0 -6.125rem 0 #004ba0;
}