@import "/css/timeChecker.css";
@import "/css/menu.css";
@import "/css/table.css";

@font-face {
	font-family: NS-sans;
	src: url(../fonts/nssans__-webfont.ttf);
}

@font-face {
	font-family: NS-sans;
	font-weight: bold;
	src: url(../fonts/nssanbol-webfont.ttf);
}

@font-face {
	font-family: NS-sans;
	font-style: italic;
	src: url(../fonts/nssanbit-webfont.ttf);
}

:root {
	--red: #db0029;
	--blue: #003082;
}

* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body#app {
	font-family: NS-sans;
	font-weight: bold;
	color: var(--blue);
	background-color: #e6e6e9;
}

.container {
	display: flex;
	flex-direction: column;
	/* height: 100%; */
	align-items: center;
}

.container.--app {
	padding: 4rem 0;
	background-color: #ffc917;
}

.content {
	/* min-width: 900px; */
	max-width: 1200px;
}

/* @media screen and (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	td {
		border: 1px solid white;
		padding: .75rem 2rem;
	}
} */