.container.--table .content {
	margin-top: 2rem;
	padding: 3rem 3rem;
	background-color: #FFF;
	box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
}

#table {
	table-layout: fixed;
	/* border: 1px solid #000; */
	border-collapse: collapse;
}

#table caption {
	/* padding-top: 1rem; */
	padding-bottom: 2rem;
	/* border-top: 1px solid #CCC; */
	caption-side: top;
	background: white;
}

th {
	text-align: left;
	padding: 1rem 2rem;
}

tr {
	animation: loadIn .2s;
}

@keyframes loadIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

tr:not(.headers):nth-child(odd) {background: #e6e6e9}
tr:not(.headers):nth-child(even) {background: #FFF}

td {
	padding: 1rem 2rem;
	/* border: 1px solid #000; */
}

td strong {
	font-size: 1.15rem;
	color: var(--red);
	margin-left: .25rem;
}