.time-checker {
	width: 100%;
	text-align: center;
}

.time-checker_container {
	display: inline-block;
	padding: 2rem 4rem;
	background-color: white;
}

#clock,
#alarm {
	display: inline-block;
}

.clock-container,
.alarm-container {
	display: inline-block;
}

.alarm-container {
	margin-left: 2rem;
}

.icon {
	display: inline-block;
	height: 1.4rem;
	margin-right: .25rem;
	vertical-align: bottom;
}

#alarm {
	color: var(--red);
	transform-origin: center center;
}

#alarm.is-ringing {
	animation-name: wiggle;
	animation-duration: .25s;
	animation-delay: .3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes wiggle {

	5%,
	15%,
	25%,
	35%,
	45% {
		transform: rotate(-10deg)
	};

	0%,
	10%,
	20%,
	30%,
	40% {
		transform: rotate(10deg)
	};

	50%,
	100% {
		transform: rotate(0deg)
	};
}